
#banner {
    align-items: center;
    background-color: black;
    display: flex;
    height: 50px;
}


#webchat {
    height: calc(100% - 50px) !important;
    position: fixed;
    overflow: hidden;
    top: 50px;
    text-align: left;
}